html, body {
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    white-space: normal;
}

.content {
    position: absolute;
    min-height: 100vh;
    width: calc(100% - 78px);
    left: 78px;
    padding-left: 10px;
    padding-top: 10px;
    transition: all 0.5s ease;
    background-color: #E4E5EA;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #D2D2D4;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0C151C;
    border-radius: 20px;
    border: 2px solid #D2D2D4; 
}