.playlist-preview {
    position: relative;
    height: 300px;
    width: 400px;
    background-color: #D2D2D4;
    border-radius: 9px;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.playlist-link {
    text-decoration: none;
    color: black;
}
.playlist-link:hover {
    text-decoration: none;
    color: black;
}

div.img-container {
    position: relative;
    display: inline-block;
    height: 225px;
    width: 100%;
    border-radius: 9px;
}
.img-container .thumbnail {
    height: 100%;
    width: 100%;
}

.img-container .overlay {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    width: 50%;
    height: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    border-radius: 9px;
}

.overlay p {
    margin-top: 50%;
    transform: translateY(-50%);
}

.playlist-info {
    position: relative;
    height: 100%;
    width: 100%;
}

.name {
    font-size: 20px;
    text-decoration: none;
}

.user {
    padding-left: 5px;
    float: left;
}

.delete-vid-button {
    margin-left: 283px;
    width: 35px;
    height: 35px;
}

.num-videos {
    float: right;
    padding-right: 10px;
}

.delete-playlist-button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    z-index: 10;
} 