.playlist-preview {
    height: 300px;
    width: 400px;
    background-color: #D2D2D4;
    border-radius: 9px;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.playlist-link {
    text-decoration: none;
    color: black;
}
.playlist-link:hover {
    text-decoration: none;
    color: black;
}

.thumbnail {
    height: 225px;
    width: 400px;
    border-radius: 9px;
}

.name {
    font-size: 20px;
    text-decoration: none;
}

.user {
    padding-left: 5px;
    float: left;
}

.delete-vid-button {
    margin-left: 283px;
    width: 35px;
    height: 35px;
}

.num-videos {
    float: right;
    padding-right: 10px;
}