.profile {
    display: flex;
    margin-left: 50px;
}

.profile-form {
    margin-top: 40px;
}

.profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}