.video-section {
    /* display: flex; */
    overflow: auto;
}

.video-player {
    width: 80%;
}

.description-section {
    /* display: flex; */
    height: 70px;
    width: 80%;
    background-color: #D2D2D4;
    border-radius: 7px;
    padding: 7px;
}
