.watch {
    width: 80%;
    overflow: hidden;
}
.video-section {
    overflow: auto;
}

.video-player {
    width: 100%;
}

.description-section {
    /* display: flex; */
    height: 70px;
    width: 100%;
    background-color: #D2D2D4;
    border-radius: 7px;
    padding: 7px;
    overflow: hidden;
    white-space: pre;
}

.description-section:hover {
    background-color: #737E80;
}

.description-section.active {
    min-height: 70px;
    height: auto;
}