div.login-form,
div.register-form,
div.reset-password,
div.reset-form {
    position: absolute;
    width: 500px;
    text-align: left;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}