<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name='viewport' content="width=device-width, initial-scale=1" />
		<meta name="vapid-key" content="BGxAGXKJRgWtQ6D1Ou6UKmGiY5lRBPmDtaPh8GLwZsrRwLYj4vitvw6P6sUJ5E0o6qihL9X1KAJM4QrYsg45mPw">
		<title>BitWatch</title>
		{% load static %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/png" href="https://bitwatch-media.s3.amazonaws.com/favicon.png">
	</head>
	<body>
		<div id='main'>
			<div id="root"></div>
		</div>

		<script src="{% static "frontend/main.js" %}"></script>
		<script src="{% static 'js/registerSw.js' %}"></script>
		<script src="{% static 'js/sw.js' %}"></script>
	</body>
</html>
