.interaction {
    width: 100%;
}

a.channel-link {
    text-decoration: none;
    color: black;
}

a.channel-link:hover {
    color: gray;
}

.uploader {
    display: flex;
    float: left;
}

.uploader .profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 4px;
}

.uploader .subscribers {
    font-size: 10px;
}

.uploader .subscribe {
    height: 30px;
    width: auto;
    font-size: 10px;
    text-align: center;
    border-radius: 30px;
    margin-left: 30px;
}

div.interact {
    display: flex;
    float: right;
    align-items: center;
}

.interact .like,
.interact .dislike {
    cursor: pointer;
}

.interact .save {
    display: flex;
    cursor: pointer;
    width: 70px;
    font-size: 20px;
    margin-left: 10px;
    background-color: #D2D2D4;
    border-radius: 15px;
}

.interact .save:hover {
    background-color: #737E80;
}

.playlist-form {
    text-align: center;
}